* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}
body {
    background-color: rgb(3, 82, 82);
}
#container {
    width: 400px;
    padding: 25px 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 10px;
}
#container h2 {
    margin-bottom: 20px;
}
#container input {
    width: 320px;
    padding: 10px;
    font-size: medium;
}
#container button {
    border: 0;
    outline: 0;
    background-color: rgb(87, 164, 164);
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    font-size: large;
    cursor: pointer;
}
#imgDiv {
    width: 200px;
    border-radius: 5px;
    overflow: hidden;
}
#imgDiv img {
    width: 100%;
    padding: 10px;
}
.error{
    animation: shake 0.1s linear 10;
}
@keyframes shake{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-2px);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(2px);
    }
    100%{
        transform: translateX(0);
    }
}